
/* Cores logo: 
#ADE4EB; verde agua
#AFCCF4; azul escuro claro
#FFAFE0; rosa
#BEA4F1; lilás
*/
/*Formatação menu*/

nav ul.menu {
  list-style: none;
  text-transform: uppercase;
  position: absolute;
  top: 0px;
  right: 30px;
} 
body {
  padding: 0;
  margin: 0;
  background-color: #caddf8;
}
/* formatação tela login e cadastro*/
#login {
  float: right;
  margin-right: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

.card {
  background-color: #FFAFE0;
  padding: 40px;
  border-radius: 15px;
  width: 350px;
}

.cabecalho-card {
  padding-bottom: 50px;
  opacity: 0.8;
  color: #fff;
  text-align: center;
}

.cabecalho-card::after {
  content: "";
  width: 110px;
  height: 1px;
  background-color: #fff;
  display: block;
  margin-top: -17px;
  margin-left: 120px;
}

.conteudo-card label {
  color: #fff;
  font-size: 12px;
  opacity: 0.8;
}

.conteudo-card-area {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.conteudo-card-area input {
  margin-top: 10px;
  padding: 0 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  outline: none;
  color: #fff;
}

.card-rodape {
  display: flex;
  flex-direction: column;
}

.card-rodape .submit{
  width: 100%;
  height: 40px;
  background-color: #BEA4F1;
  border:none;
  color:#e1e1e1;
  margin: 10px 0;
} 

.card-rodape a {
  text-align: center;
  font-size: 12px;
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

.logo {
  position: relative;
  top: 80px;
  left: 180px;
}

.card-rodape #botao-login {
  color: rgb(187, 0, 0);
}

.card-rodape #botao-cadastro {
  color: rgb(243, 163, 232);
}

/* estilização botao enviar*/
.enviar {
  background-color: #BEA4F1;
  height: 30px;
  width: 280px;
  font-weight: bold;
  border: none;
  color: #fff;
}

/* formulario cadastro livros*/

fieldset {
  
  background-color: #FFAFE0; 
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  padding: 30px 30px;

}

#titulo-cadlivro {
  font-family:cursive;
}

input[type=radio] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
  background-color: #ffdaf1;
}
/*
input[type=radio]:hover,
textarea:hover {
    background: #ffffff;
    border: 10px solid #000f99;
}*/

input#titulo {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: none;
  width: 150px
  
}
input#autor {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: none;
  width: 150px
  
}
input#editora {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: none;
  width: 150px
  
}

